/Cuba-4.2/libcuba.a
/Cuba-4.2/partview
/config.h
/config.log
/config.status
/example/example.conf.raw
/example/kineticMixing_exclusion
/example/kineticMixing_settings
/results/
/src/.deps/
/src/test.sh
/stamp-h1
/Cuba-4.2/config.log
/Cuba-4.2/config.status
/Cuba-4.2/demo-c
/Cuba-4.2/demo-fortran
/Makefile
/autom4te.cache/
/src/Makefile
/src/core
/Cuba-4.2/autom4te.cache/
/Cuba-4.2/config.h
/Cuba-4.2/makefile
/example/settings_jets
/example/settings_jets~
*~
*.o
3500/*
mstw/.*
